#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.desconto {
  text-decoration: line-through;
}

.resultado {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
}

.botao {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

table, th, td {
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid rgb(14, 11, 11);
}

th, td {
  padding: 10px 10px;
}

th {
  background-color: rgb(64, 12, 185);
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
}